*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(33, 33, 33, 0.217),rgba(60, 60, 61, 0.281) ), url(../background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.animation-box{
    height: 380px;
    width: 420px;
    position: relative;
    background-color: rgb(46, 26, 42);
    background-image: linear-gradient(0deg, rgba(18, 6, 47, 0.92), rgba(18, 6, 47, 0.92)), url(../tech\ -\ background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 2;
}

.box{
    height: 387px;
    width: 427px;
    position: relative;
    box-shadow: 0px 0px 7px rgb(102, 64, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 380px;
    width: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, rgb(57, 255, 87), rgb(68, 255, 0));
    z-index: 1;
    animation: animate 10s linear infinite;
    animation-delay: -5s;
}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 380px;
    width: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, rgb(57, 255, 87), rgb(68, 255, 0));
    z-index: 1;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}


form h1{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: antiquewhite;
}
.input-box{
    display: flex;
    flex-direction: column;
    width: ;
    position: relative;
    margin-top: 10px;
}
.input-box input{
    padding: 20px 10px 10px;
    background-color: transparent;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    outline: none;
    z-index: 10;
    position: relative;
}
.input-box span{
    position: absolute;
    left: 0;
    color: aquamarine;
    padding: 20px 0px 10px;
    transition: 0.5s;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: 0.10em;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: white;
    font-size: 10px;
    transform: translateY(-20px);
    color: aqua;
}
.link{
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    margin-bottom: 20px;
}
.link a{
    color: aquamarine;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 10px 0px;
    transition: 0.5s;
}
.link a:hover{
    text-decoration: underline;
    color: rgb(0, 255, 115);
}
.btn{
    text-align: center;
    margin-top: 30px;
}
.btn input{
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
    border: none;
    color: aquamarine;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(101, 70, 255);
    transition: 0.5s;
}
.btn input:hover{
    cursor: pointer;
    transform: scale(1.25);
}
.input-box i{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(95, 235, 188);
    width: 100%;
    height: 1px;
    border-radius: 2px
    overflow: hidden;
    transition: 0.5s;
}
.input-box input:valid ~ i,
.input-box input:focus ~ i{
    height: 40px;
}





@media screen and (max-width: 576px) {
    .animation-box{
        height: 250px;
        width: 225px;
        padding: 15px;
    }
    .box{
        height: 255px;
        width: 230px;
    }
    .box::before{
        height: 255px;
        width: 230px;
    }
    .box::after{
        height: 255px;
        width: 230px;
    }
    form h1{
        font-size: 2rem;
    }
    .input-box input{
        padding: 10px 5px 10px;
        font-size: 10px;
    }
    .input-box span{
        padding: 10px 0px 10px;
    }
    .input-box input:valid ~ span,
    .input-box input:focus ~ span {
    transform: translateY(-15px);
    }
    .input-box input:valid ~ i,
    .input-box input:focus ~ i{
    height: 25px;
    }
    .link a{
    color: aquamarine;
    letter-spacing: 0px;
    text-decoration: none;
    margin: 10px 0px;
    transition: 0.5s;
    }
    .link a{
        margin: 10px 0px;
        transition: 0.5s;
        font-size: 12px;
    }
    .link{
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }
    .link a{
        margin: 0px 0px;   
    }
    .btn{
        margin-top: 10px;
    }
    .btn input{
        font-size: 1em;
    }
    .input-box i{
        bottom: 2px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .animation-box{
        height: 380px;
        width: 380px;
    }
    .box{
        height: 386px;
        width: 386px;
    }
    .box::after{
        height: 380px;
        width: 380px;
    }
    .box::before{
        height: 380px;
        width: 380px;
    }
    
}